@model IEnumerable<HomeBudget.Models.Entities.BLL.TransactionBLL>
@{
    ViewData["Title"] = "Транзакції користувача " + ViewBag.User.Name;
}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Головна</a></li>
        <li class="breadcrumb-item"><a asp-controller="Transaction" asp-action="Index">Транзакції</a></li>
        <li class="breadcrumb-item active" aria-current="page">Транзакції користувача @ViewBag.User.Name</li>
    </ol>
</nav>
<div class="text-center">
    <h1 class="display-4">Транзакції користувача @ViewBag.User.Name</h1>
    @if (Model.Count() > 0)
    {
        <table class="table">
            <thead>
            <tr>
                <th scope="col">Сума</th>
                <th>Тип</th>
                <th>Категорія</th>
                <th>Дата</th>
                <th>дії</th>
            </tr>
            </thead>
            <tbody>

            @foreach (var transaction in Model)
            {
                <tr>
                    <td>@transaction.Amount</td>
                    <td><a asp-area="" asp-route-transactionType="@transaction.TransactionType" asp-controller="Transaction" asp-action="TransactionByType">@transaction.TransactionType</a></td>
                    <td><a asp-area="" asp-route-categoryId="@transaction.Category.Id" asp-controller="Transaction" asp-action="TransactionByCategory">@transaction.Category.Title</a></td>
                    <td>@transaction.Date</td>
                    <td>
                        <a class="btn btn-outline-info btn-sm"  asp-route-transactionId="@transaction.Id" asp-controller="Transaction" asp-action="Edit">Редагувати</a>
                        <form method="post" action="@Url.Action("DeleteTransaction", "Transaction")" onsubmit="return confirmDelete();">
                            <input type="hidden" name="transactionId" value="@transaction.Id" />
                            <button type="submit" class="btn btn-outline-danger btn-sm m-2">Видалити</button>
                        </form>
                    </td>
                </tr>

            }
            </tbody>
        </table>
    }
    else
    {
        <h4 class="display-4">Інформація відсутня</h4>
    }
    <div class="card">
        <div class="card-header">
            <h2>Рух коштів від користувача</h2>
        </div>
        <div class="card-body">
            <p>Доходи: @ViewBag.UserIncome</p>
            <p>Витрати: @ViewBag.UserExpense</p>
        </div>
        <div class="card-footer">
            Наповнення бюджету: @ViewBag.Budget
        </div>
    </div>
</div>

@section Scripts {
    <script>
        function confirmDelete() {
            return confirm('Ви впевнені, що хочете видалити цю транзакцію?');
        }
    </script>
}