@model IEnumerable<HomeBudget.Models.Entities.BLL.UserBLL>
@{
    ViewData["Title"] = "Transaction Page";
}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Головна</a></li>
        <li class="breadcrumb-item active" aria-current="page">Користувачі</li>
    </ol>
</nav>
<div class="text-center">
    <h1 class="display-4">Користувачі</h1>
    <div class="row">
        <a class="btn btn-outline-primary" asp-area="" asp-controller="User" asp-action="Create">Створити нового користувача</a>
    </div>
    @if (Model.Count() > 0)
    {
        <table class="table">
            <thead>
            <tr>
                <th scope="col">Ім'я</th>
                <th>дії</th>
            </tr>
            </thead>
            <tbody>

            @foreach (var user in Model)
            {
                <tr>
                    <td><a asp-area="" asp-route-userId="@user.Id" asp-controller="Transaction" asp-action="TransactionByUser">@user.Name</a></td>
                    <td>
                        <a class="btn btn-outline-info btn-sm" asp-route-userId="@user.Id" asp-controller="User" asp-action="Edit" >Редагувати</a>
                        @if (@user.Transactions.Count() == 0)
                        {
                            <form method="post" action="@Url.Action("DeleteUser", "User")" onsubmit="return confirmDelete();">
                                <input type="hidden" name="userId" value="@user.Id" />
                                <button type="submit" class="btn btn-outline-danger btn-sm m-2">Видалити</button>
                            </form>
                        } 
                        
                    </td>
                </tr>

            }
            </tbody>
        </table>
    }
    else
    {
        <h4 class="display-4">Інформація відсутня</h4>
    }
    
</div>

@section Scripts {
    <script>
        function confirmDelete() {
            return confirm('Ви впевнені, що хочете видалити цього користувача?');
        }
    </script>
}